<div class="modal-dialog"  id="new-prediction-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h3>New Prediction</h3>
      <button type="button" class="btn btn-link text-uppercase font-weight-semibold" data-dismiss="modal">×</button>
    </div>
    <%= form_for @prediction, class: 'form-group', remote: true do |f| %>
        <div class="modal-body">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    <%= f.file_field :image, class: 'custom-file-input' %>
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>
        </div>
        <div class='model-footer'>
            <button type="button" class="btn btn-link text-uppercase font-weight-semibold" data-dismiss="modal">Cancel</button>
            <%= f.submit 'Submit', class: 'btn btn-default' %>
        </div>
    <% end %>
  </div>
</div>
